*{
    box-sizing: border-box;
    margin: 0px;
    scroll-behavior: smooth;
    
    
}
.main-nav{
    display: flex;
    position: relative;
    width: 100%;
    
    
}
.fixed-nav{
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 5555;
    
}

.header{
    position: relative;
    width: 100vw;
    height: 100vh;

}
.img-container{
    width: 100%;
    position: absolute;
    object-fit: cover;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    
    
}
.body-image{
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -2;
    
}
.nav-container{
    display: flex;
    width: 30%;
    position: relative;
    margin-top:10px;
 
}
.link-container{
    width: 60%;
    margin-left: 15px;
    position: absolute;
    right: 0px;
    top: 5vh;
    
}
.links{
    position: relative;
    display: inline-flex;
    list-style-type: none;
    transition: ease-in-out 0.5s;
    z-index: 2;
    width: 60%;
    margin: auto 25%;
    
    
    
    
    
}
.links li{
    margin-right: 15px;
    display: inline-flex;
    
    
}
.top{
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    border-radius: 5px;
    z-index: 66666;
    visibility: hidden;
    max-width: 20vw;
    background-color: teal;
    animation: bounce 2s ease-in-out infinite;
}
.top a{
    text-decoration: none;
    font-size: larger;
}
.show-top{
    visibility: visible;
}
@keyframes bounce {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
    
}
.links a{
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    color: whitesmoke;
    font-weight: bolder;
    margin-left: 20px;

}
.header::after{
    content: "";
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color:rgba(0.5,0.5,0.5,0.5);
    z-index: -1;
}
.nav-btn{
    height: 30px;
    padding: 5px;
    position: absolute;
    right:0px;
    transform: rotate(90deg);
    top: 20px;
    visibility: hidden;
   
}
.header-center{
    top: 40%;
    position: absolute;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    color: white;
}

.header-center h1{
    text-transform:uppercase;
    font-size: 50px;

}
.header-center p{
    position: relative;
    margin:10px;
    
}
.body-btn{
    background-color: rgba(0.5,0.5,0.5,0.1);
    padding: 10px;
    text-align: center;
    width: 18vw;
    letter-spacing: 1px;
    margin-top: 5px;
    border: 2.5px solid white;
    transition: all 0.5s;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
}
.body-btn a{
    text-decoration: none;
    font-weight: bolder;
    
}
.body-btn:hover{
    background-color: white;
    color: cadetblue;
    border-radius: 5px;
    
}

.sect{
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: whitesmoke;
}
.sect h1{
    font-size: 40px;
    color: darkblue;
}
.sect span{
    color: skyblue;
}
.footer-container{
    width: 100%;
    position: relative;
    background-color: darkslateblue;
    height: 25vh;
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 2px;
    text-align: center;
}

@media screen and (max-width:800px){
    *{
        box-sizing: border-box;
    }
    .main-nav{
        display: block;
        background-color: white;
        height: auto;
        box-shadow: 0px 1px rgba(1, 0, 0,0.1);
    }
.fixed-nav{
    position: fixed;
    z-index: 5555;
}
    .nav-container{
        width: 100%;
        position: relative;
        
    }
    .nav-btn{
        visibility: visible;
        transform: rotate(90deg);
        background-color: cadetblue;
    }
    .link-container{
        width: 100%;
        height: 0px;
        overflow: hidden;
        position: relative;
        top: 0;
        margin: 0px;
        transition: all 0.5s;
        
        
    }
    .img-container{
        position: relative;
        top: 0vh;
        left: 0px;
        right: 0px;
        bottom: 0px;
        height: 100vh;
       
        
        
    }
    .links{
        width: 100%;
        margin: 0px;
        position: relative;
        transition: all 0.5s;
       
        
        
        

    }
    .header{
        position: relative;
        display: block;
        width: 100vw;
        height: 100%;
    }
    .header::after{
        content: "";
        top: 0vh;
        left: 0px;
        right: 0px;
        bottom: 0px;
        height: 100%;
        position: absolute;
        
    }
    .links li{
        display: block;
        margin-top: 5px;
        position: relative;
        margin-left: 0px;
       
        
    }
    .links a{
        margin-top: 10px;
        position: relative;
        padding-top: 10px;
    
        display: block;
        color: black;
        font-size: 22.5px;
        margin-left: 0px;

        
    }
    .links a:hover{
       color: blue;
    }
    .body-image{
        width: 100%;
        height: 100vh;
        position: relative;
    }
    .header-center{
        
        width: 100%;
        margin-left: 0px;
        position: absolute;
    }
    .header-center p{
        
        position: relative;
        width: 80%;
        margin: 0 auto;
       
    
       
    }
    .body-btn{
        width: 40%;
        padding: 4px;
        margin-top: 15px;
    }
    
    
    
    
    


    
}
